<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="templates/style.css" />
    <title>{{page_title}}</title>
</head>
<body>
    <div class='nav'><a href='/blog'>Home</a>     <a href='/newpost'>New Post</a></div>
     {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
        <span class="{{category}}">{{message}}</span>
        {% endfor %}
    {% endwith %}
    <h1>{{title}}</h1>
    {% block content %}
    {% endblock %}
</body>
</html>