<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="static/styles/style.css" />
    <title>{{page_title}}</title>
</head>
<body>
    <div class='nav'>
        <a href='/blog'>Home</a>  | <a href='/users'>Users</a> | <a href='/newpost'>New Post</a> |  <a href='/logout'>Logout</a>
         {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <p id='error'>{{message}}</p>
            {% endfor %}
        {% endwith %}
    </div>
    <div class='body_content'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>