{% extends 'base.html' %}
{% block content %}
    {% if single_view == False %}
        <h2>Recent Posts</h2>
        {% for blog in blogs %}

        <h3><a href='/blog?id={{blog.id}}' value={{blog.id}}>{{blog.title}}</a></h3>
        <br>
        {{blog.body}}
        <p>Posted: {{blog.dateTime}}</p>
        <hr>

        {% endfor %}

    {% elif single_view == True %}
        <h3>{{blog_title}}</h3>
        <br>
        {{blog_body}}
        <p>Posted on: {{blog_dateTime}}</p>
    {% endif %}

{% endblock %}