{% extends 'base.html' %}
{% block content %}

    <h2 id='landing_title'>Entries by {{author}}</h2>
    {% if blogs | length %}
    {% for blog in blogs %}
    <div class="post_item">
        <h3>
            <a href='/blog?id={{blog.id}}' value={{blog.id}}>{{blog.title}}</a> |
            <span class='dateTime'>Posted: {{blog.dateTime}}</span> | <span class='dateTime'>Author: <a href="/blog?userID={{author}}">{{author}}</a></span></h3>
        {{blog.body}}
    </div>
    {% endfor %}
    {% else %}
    <h3>{{author}} hasn't made any posts yet!</h3>
    {% endif %}

{% endblock %}