body {
    font-family: Calibri, sans-serif;
}

a, a:visited {
    color: #0a1612;
    text-decoration: none;
    font-weight: 700;
}

input {
    padding: 0.5em;
}

textarea {
    padding: 0.5em;
    width: 100%;
    height: 10em;
    padding: 2em 2em;
    box-sizing: border-box;
    border: 0.15em solid #ccc;
    border-radius: 0.5em;
    background-color: #f8f8f8;
    resize: none;
}

a:hover {
    color: #797979;
    text-decoration: none;
    font-weight: 700;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
    box-sizing: border-box;
    border: 0.5em solid #ccc;
    border-radius: 0.15em;
}

.dateTime{
    font-weight: 700;
    padding: 1.5em;
}

.nav {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 50%;
}

.post_item {
    margin-left: 3em;
    margin-right: 3em;
}

.post_body{
    margin-left: 3em;
    margin-right: 3em;
}

.error {
    color: red;
}

.body_content {
    padding: 1em;
    align-content: center;
}